[Unit]
Description=Thin process management
After=syslog.target network.target

[Service]
Type=forking
User=www-data
Group=www-data
ExecStart=/usr/local/bin/thin start --all /etc/thin/
ExecReload=/user/local/bin/thin restart --all /etc/thin/
ExecStop=/usr/local/bin/thin stop --all /etc/thin
TimeoutSec=300

[Install]
WantedBy=multi-user.target
